<form class="form" [formGroup]="replacerForm">

    <div class="form-group">
        <label for="menuitems">Write Text</label>
        <div class="dropdown">
            <textarea ngModel cols="50" rows="20" id="menuitems" class="form-control dropdown-toggle" formControlName="menuitems" data-toggle="dropdown"
                [ngModel]="text" (ngModelChange)="change($event)">
                {{text}}</textarea>

            <ul class="dropdown-menu" id="dropMenu" role="menu" aria-labelledby="menuitems">

                <a *ngFor="let neWord of NewWords" (click)="newChoise(neWord)">
            {{neWord}}
         </a>
            </ul>
        </div>
    </div>
</form>