<form class="form" [formGroup]="changePassForm" (ngSubmit)="changePass()">

    <div class="form-group">
        <label for="oldPass">Old Password</label>
        <input ngModel id="oldPass" name="oldPass" type="text" class="form-control" formControlName="oldPass">

        <div *ngIf="changePassForm.controls.oldPass.touched && changePassForm.controls.oldPass.errors">
            <div class="alert alert-danger" *ngIf="changePassForm.controls.oldPass.errors.required">
                Old password is required
            </div>
            <div class="alert alert-danger" *ngIf="changePassForm.controls.oldPass.errors.minlength ">
                password too short (required at least {{changePassForm.controls.oldPass.errors.minlength.requiredLength}} letters)
            </div>
               <div class="alert alert-danger" *ngIf="changePassForm.controls.oldPass.errors.invalidLogin ">
                old password not correct
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="newPass">Old Password</label>
        <input ngModel id="newPass" name="newPass" type="text" class="form-control" formControlName="newPass">

        <div *ngIf="changePassForm.controls.newPass.touched && changePassForm.controls.newPass.errors">
            <div class="alert alert-danger" *ngIf="changePassForm.controls.newPass.errors.required">
                Old password is required
            </div>
            <div class="alert alert-danger" *ngIf="changePassForm.controls.newPass.errors.minlength ">
                password too short (required at least {{changePassForm.controls.newPass.errors.minlength.requiredLength}} letters)
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="confirmPass">Confirm Password</label>
        <input ngModel id="confirmPass" name="confirmPass" type="text" class="form-control" formControlName="confirmPass">

        <div *ngIf="changePassForm.controls.confirmPass.touched && changePassForm.controls.confirmPass.errors">
            <div class="alert alert-danger" *ngIf="changePassForm.controls.confirmPass.errors.required">
                Confirm password is required
            </div>
            <div class="alert alert-danger" *ngIf="changePassForm.controls.confirmPass.errors.minlength ">
                password too short (required at least {{changePassForm.controls.confirmPass.errors.minlength.requiredLength}} letters)
            </div>
               
        </div>
        <div class="alert alert-danger" 
        *ngIf="changePassForm.errors && 
        changePassForm.controls.confirmPass.dirty &&
        changePassForm.errors.passwordNotMatch">
                 password not match
            </div>
    </div>

               
    <button class="btn btn-primary" 
    type="submit" [disabled]="!changePassForm.valid">Submit</button>
</form>