<form class="form" [formGroup]="signupForm" (ngSubmit)="signUp()">

    <div class="form-group">
        <label for="username">Username</label>
        <input ngModel id="username" name="username" type="text" class="form-control" formControlName="username">


        <div class="badge badge-info" *ngIf="signupForm.controls.username.pending">
            <span class="fa fa-cog fa-spin fa-1x"></span> Checking...
        </div>

        <div *ngIf="signupForm.controls.username.touched && signupForm.controls.username.errors">
            <div class="alert alert-danger" *ngIf="signupForm.controls.username.errors.required">
                User Name is required
            </div>
            <div class="alert alert-danger" *ngIf="signupForm.controls.username.errors.canntContainSpace ">
                Spaces not allowed index {{signupForm.controls.username.errors.index}}
            </div>
            <div class="alert alert-danger" *ngIf="signupForm.controls.username.errors.shouldBeUnique ">
                User Name shuld be unique
            </div>

            <div class="alert alert-danger" *ngIf="signupForm.controls.username.errors.invalidLogin">
                Invalid login
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input ngModel id="password" name="password" type="text" class="form-control" formControlName="password">
    </div>
    <div class="alert alert-danger" *ngIf="!signupForm.controls.password.valid && 
            signupForm.controls.password.touched">
        Password is required
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
</form>