<form class="form" [formGroup]="form" (ngSubmit)="save()">

    <div class="form-group">
        <label for="autorUser">User Name</label>
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
            <input [(ngModel)] = "twiterAutor.AutorUser" id="autorUser" name="autorUser" type="text" class="form-control" formControlName="autorUser" />
        </div>
        <div *ngIf="form.controls.autorUser.touched && form.controls.autorUser.errors">
            <div class="alert alert-danger" *ngIf="form.controls.autorUser.errors.required">
                User Name is required
            </div>
            <div class="alert alert-danger" *ngIf="form.controls.autorUser.errors.minlength ">
                User Name too short (required at least {{form.controls.autorUser.errors.minlength.requiredLength}} letters)
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="autorName">Full Name</label>
        <div class="dropdown">
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-address-book fa-fw"></i></span>
                <input [(ngModel)] = "twiterAutor.AutorName" id="autorName" name="autorName" type="text" class="form-control" formControlName="autorName" data-toggle="dropdown"
                    autocomplete="off" />
                <ul *ngIf="!form.controls.autorName.errors && (dataForComplition)?.length" class="dropdown-menu scrollable-menu" role="menu">
                    <li *ngFor="let comp of dataForComplition">
                        <a (click)="suggestionClick(comp)">{{comp.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="form.controls.autorName.touched && form.controls.autorName.errors">

            <div class="alert alert-danger" *ngIf="form.controls.autorName.errors.required">
                Name is required
            </div>

            <div class="alert alert-danger" *ngIf="form.controls.autorName.errors.minlength ">
                Name too short (required at least {{form.controls.autorName.errors.minlength.requiredLength}} letters)
            </div>

        </div>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
            <input  [(ngModel)] = "twiterAutor.AutorEmail" id="email" name="email" type="text" class="form-control" formControlName="email" />
        </div>
        <div *ngIf="form.controls.email.touched && form.controls.email.errors">

            <div class="alert alert-danger" *ngIf="form.controls.email.errors.required">
                Email is required
            </div>

            <div class="alert alert-danger" *ngIf="form.controls.email.errors.pattern ">
                Email not in the correct format
            </div>

        </div>
    </div>
    <!-- pattern="^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})(\/(?:[\/\w \.-]*)*\/?)?([\/?#].*)?" -->
    <div class="form-group">
        <label for="autorImage">Picture</label>
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-picture-o fa-fw"></i></span>
            <input [(ngModel)] = "twiterAutor.AutorImage" id="autorImage" name="autorImage" type="text" class="form-control" formControlName="autorImage" (input)="imageChanged($event)"
            />
        </div>
        <div *ngIf="form.controls.autorImage.touched && form.controls.autorImage.errors">

            <div class="alert alert-danger" *ngIf="form.controls.autorImage.errors.required">
                Picture link is required
            </div>

            <div class="alert alert-danger" *ngIf="form.controls.autorImage.errors.pattern ">
                Picture link not in the correct format
            </div>


        </div>
        <div *ngIf="form.controls.autorImage.value">
            <img class="img-rounded" src={{form.controls.autorImage.value}}>
        </div>
    </div>

    <div class="form-group">
        <label for="autorComments">Comment</label>
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-comments fa-fw"></i></span>
            <textarea [(ngModel)] = "twiterAutor.AutorComments" id="autorComments" name="autorComments" cols="30" rows="10" class="form-control" formControlName="autorComments">
            </textarea>
        </div>
        <div class="alert alert-warning" *ngIf="form.controls.autorComments.touched && !form.controls.autorComments.valid">
            Comment is required</div>

        <div class="checkbox">
            <label>
                <input id="generate" name="generate" type="checkbox">Generate Comment</label>
        </div>
    </div>

    <div class="form-group">
        <label for="frequency">Frequency of emails</label>
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>

            <select ngModel name="frequency" id="frequency" class="form-control" formControlName="frequency">
            <option value=""></option>
            <option *ngFor="let frequency of frequencies" value="{{frequency.id}}">
                {{ frequency.label }}
            </option>
        </select>
        </div>
        <div class="alert alert-danger" *ngIf="form.controls.frequency.touched && !form.controls.frequency.valid">
            This field is required.
        </div>
    </div>

    <button class="btn btn-primary" type="sumbit" [disabled]="!form.valid">Sumbit</button>
</form>

<!-- (change) = "log(userNameInput)" 
-->