<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="dropdown">

                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
  <span class="glyphicon glyphicon-menu-hamburger"></span>
  </button> 
                <ng-content class="body title" select=".title"></ng-content>
                <!-- <span>{{ titleObject.title | uppercase}} </span> 
   <span> Funds: {{ titleObject.funds | currency:'ILS':true:'2.2-2'}} </span> 
   <span> Date: {{ titleObject.date | date: 'dd MMM yyyy' }} </span> 
  <span> object: {{ titleObject | json }} </span> -->
                <ul class="dropdown-menu">



                    <Zippy [icon]="images.twits">
                        <span class="header">Twiter</span>
                        <a routerLinkActive="is-route-active" [routerLink]="['twiter',0]" (click)="onClickNormal(event)" class="body">
            Click to Normal view</a>
                    </Zippy>

                    <Zippy [icon]="images.thumbs">
                        <span class="header">Thumbs</span>
                        <a routerLinkActive="is-route-active" [routerLink]="['twiter',1]" (click)="onClickThumb(event)" class="body">
                    Click to Thumb view</a>
                    </Zippy>

                    <Zippy [icon]="images.forms">
                        <span class="header">Forms</span>
                        <a routerLinkActive="is-route-active" routerLink="addAuthor/new" (click)="onClickUserForm(event)" class="body">
                     Click to Forms</a>
                    </Zippy>

                    <!--   <li (click)="onClickNormal(event)" ><a href="#" >Normal</a></li>
                            <li (click)="onClickThumb(event)" ><a href="#"  >Thumbs</a></li>-->

                </ul>
            </div>
        </div>
    </div>
</nav>