 i
        {
              opacity: .5;
                   margin-top: 8px;
                width: 9px;
                 vertical-align: middle;
                 display: inline-block;
        } 

        

        .panel
        {
            width: 500px;
             margin: 10px;
        }

        .img-rounded 
        {
                width: 30px;
                height: 30px;
                vertical-align: middle;
                display: inline-block;
                margin: 1px 16px 0 3px;
                    opacity: .5;


        }

        .header
        {
           vertical-align: middle;
          
            display: inline-block;

            padding-right: 100px;
            width: 174px;
            
        }
      
      .panel-heading
      {
  cursor: pointer;
      }